#carousel {
	width: 600px;
	height: 400px;
	background-color: gray;
	margin: auto; 
	overflow: hidden;
}

#slider img {
	float: left;
}

#controls {
	margin: auto;
	width: 120px;
	margin-top: 10px;
}

/*img#image {
	opacity: 1;
}*/